.impulse {
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    grid-area: main;
    justify-content: center;
}

.title {
    font-size: 2vh;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.button {
    background-color: rgb(100, 8, 143);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5vh;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    width: 10vw;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vh;
    max-height: fit-content;
    inline-size: 80vw;
    block-size: 80vh;
    overflow: auto;
 
    &::webkit-scrollbar {
        width: 0.5vw;
    }
    &::webkit-scrollbar-track {
        background: rgb(0, 0, 0);
    }
    &::webkit-scrollbar-thumb {
        background: rgb(100, 8, 143);
    }
    &::webkit-scrollbar-thumb:hover {
        background: rgb(149, 77, 205);
    }
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}